.panel-body, .filter-content {
	padding: 15px;
}

input, label, .filter-item {
	cursor: pointer;
}

.title-with-tool {
	overflow: auto;
}

.panel-title {
	float: left;
	margin-top: 5px;
}

.table-th-title {
	float: left;
	margin-top: 5px;
}

button.header-show-hide {
	float: right;
}

th {
	padding: 0px 0px 5px 5px;
}

.filter-item {
	padding-right: 10px;
	white-space: no-wrap;
	display: inline-block;
}