<!DOCTYPE html>
	<head>
		<title>Vue JS 2.1.3 - Template Syntax - Text Filters Chained</title>
		<script src='../../js_libs/vue-2.1.3/dist/vue.js'></script>
		<script src='app.js'></script>
	</head>
	<body>
		<div id='app'>
			<h2>The text from the input field will populate a list where every word is capitalize (first and last letter of each word and output in a list)</h2>
			<input v-model="msg" /><br/><br/>
			<ul>
				<li v-for="item in mylist">
					{{ item.text | capitalize | capitalizeLast }}
				</li>
			</ul>
		</div>
	</body>
</html>
